.movie {
  &-wrapper {
    box-sizing: border-box;
    width: 451px;
    height: 279px;
    box-shadow: 0px 4px 12px 0px #00000026;
    flex-direction: row;
    background-color: #fff;
    // padding-inline: 20px;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    &__image {
      position: relative;
      min-width: 183px;
      height: 281px;
      object-fit: contain;
      flex-shrink: 0;
      &-box {
        position: relative;
      }
      &--title{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        padding: 20px;
        text-align: center;
      }
    }
  }

  &-content {
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: first baseline;
    }

    &__header {
      font-size: 20px;
      margin: 0px;
    }

    &__rate{
      align-content: center;
      margin-left :20px;
      justify-items: center;
      padding-inline: 4px;
      font-size: 12px;
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 2px solid #E9D100
      
    }

    &__date {
      font-size: 12px;
      color: #827e7e;
      margin-bottom: 10px;
      margin-top: 7px;
    }

    &__genres {
      font-size: 12px;
      font-weight: 400;
      line-height: 14.52px;
      text-align: left;
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      & > div {
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding: 2px 4px;
      }
    }
    &__description {
      font-size: 12px;
      line-height: 22px;
      color: #333;
      margin-top: 7px;
    }
  }
}

// .spinner-box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
