$big: 1500px;

.body-wrapper {
  --spacing: 36px;
  background-color: #fff;
  width: 100%; 
  max-width: 1010px; 
  padding-inline: var(--spacing);
  box-sizing: border-box;
  margin-inline: auto; 

  @media screen and (max-width: $big) {
    padding-inline: 15px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing);
  padding-block: 21px;
  width: 100%;
  justify-items: center;
  box-sizing: border-box;

  @media screen and (max-width: $big) {
    grid-gap: 24px;
  }
}
